<h1>Test submission by James Boyden</h1>

<h2>Question 1:</h2>

<p>The specification for Question 1:</p>

<blockquote>
  <p>The provided csv --- <code>"Dataset_update.csv"</code> contains a list of datasets
and Pkeys(Primary Keys) that correspond to tables in a database.
with a <code>"QA"</code> field that needs to be updated to a value of 3 .</p>

<p>Write a python script that reads the tables(dataset) and primary key(pkeys)
columns from the csv and updates the QA column for the corresponding pkeys.</p>
</blockquote>

<h3>Submitted Python code</h3>

<p>There are 3 Python files in the submission for this question:</p>

<ul>
<li><code>solution_q1.py</code>: the Python script that was requested in the spec</li>
<li><code>test_solution_q1.py</code>: a Python script for me (or you) to test my solution</li>
<li><code>create_test_db.py</code>: Create a test DB in SQLite3; populate it with test data.</li>
</ul>

<p>There are 3 different ways you can run these Python modules as scripts:</p>

<ul>
<li><code>python3 solution_q1.py</code>: Create a test DB in SQLite3;
run the requested solution on this test DB, as in the spec.</li>
<li><code>python3 test_solution_q1.py</code>: Create a test DB in SQLite3;
test the correctness of the requested solution by a
before-vs-after comparison of the rows in the test DB.</li>
<li><code>python3 create_test_db.py</code>: Just create a stand-alone test DB in SQLite3.</li>
</ul>

<h3>SQLite3 test DB</h3>

<p>These scripts use an
<a href="https://www.sqlite.org/index.html">SQLite3 database</a> to contain test data.
The <a href="https://docs.python.org/3/library/sqlite3.html">Python3 SQLite3 module</a>
is part of the Python3 standard library; but the underlying <code>sqlite3</code> library
might need to be installed manually.
A key benefit of an SQLite3 database is that it exists entirely within a
single file in the current directory: It is compact, easily-created, and
easily-deleted, making it ideal for temporary SQL databases that are set-up
and torn-down during testing.</p>

<p>By default, the SQLite3 test database will be created in a file <code>_test.db</code>
in the current directory; this default filename may be configured in the
global variable <code>_TEST_DB_FNAME</code> in module <code>create_test_db.py</code>.
(If this were a longer-lived script, I'd set up command-line parsing using
Python's <code>argparse</code>, so this filename could be specified on the command-line.)</p>

<ul>
<li><strong>Note</strong> that after any of these 3 database-creating scripts have been run,
the created test database file <code>_test.db</code> is retained in the current directory
for any subsequent inspection you wish to perform.</li>
<li><strong>Note</strong> that the database-creating scripts will refuse to create the test DB
file if it already exists in the current directory, to avoid accidentally
overwriting the test results.  So, if you want to run the code again
(and who wouldn't!), you must delete the file <code>_test.db</code> first.</li>
</ul>

<h3>Testing approach</h3>

<p>To enable testing by <code>test_solution_q1.py</code>:</p>

<p>In <code>create_test_db.py</code>, we extract the lists of tables, columns, and
primary keys from the spec; then we add in a few dummy table names, and
a few dummy columns, and a few dummy primary keys; then we calculate a
Cartesian product of (tables x pkeys) to produce our test data.
This ensures that we have the data to be modified by the SQL <code>'UPDATE'</code>
statement mixed in with a variety of other data that should not be modified.</p>

<p>The basic testing approach in <code>test_solution_q1.py</code> is:</p>

<ol>
<li>Create a new test DB.</li>
<li>Select all data from the DB; flatten all per-table rows into a single list
that prepends the table names before each row tuple; sort the list of tuples.</li>
<li>Run the solution, which should perform an SQL <code>'UPDATE'</code> statement.</li>
<li>Again, select all data from the DB; again flatten all per-table rows into
a single list; again sort the list.</li>
<li>The two lists should have the same length, since only existing rows should
have been modified.  <strong>Verify that the lists have the same length.</strong></li>
<li>Compare the two sorted lists pairwise for element-by-element equality:
Because the lists are already sorted (itself an <code>O(N log N)</code> operation),
comparing the two lists element-wise is an <code>O(N)</code> operation, rather than
something awful like <code>O(N^2)</code> if we were trying to match elements
whack-a-mole style in unsorted lists.</li>
<li><strong>Verify that the only column that has changed is <code>'QA'</code>.</strong></li>
<li>Count the number of pairwise differences.  <strong>Verify that every pairwise
difference corresponds directly to exactly one data row in the input CSV.</strong></li>
</ol>

<h2>Question 2:</h2>

<p>The specification for Question 2:</p>

<blockquote>
  <p>Write a python script that creates a shapefile from the Water Customer
Connection Points layer where the <code>D_Diameter = ‘100m’</code>.</p>

<p>Please extract the data from the following Map Server end point.</p>

<p>https://services.thelist.tas.gov.au/arcgis/rest/services/Public/Infrastructure/MapServer/44</p>

<p>Output spatial reference must be 7855.</p>
</blockquote>

<p>and Nigel subsequently clarified in email:</p>

<blockquote>
  <p>Please proceed with <code>D_Diameter = '100mm'</code></p>
</blockquote>

<h3>Submitted Python code</h3>

<p>There is just 1 Python file in the submission for this question: </p>

<ul>
<li><code>solution_q2.py</code>: the Python script that was requested in the spec</li>
</ul>

<p>There is just 1 way you can run this Python module as a script:</p>

<ul>
<li><code>python3 solution_q2.py</code>: Request GeoJSON from the Map Server endpoint
where <code>D_DIAMETER='100mm'</code> and Output Spatial Reference is <code>7855</code>;
convert the GeoJSON response to a Shapefile.</li>
</ul>

<p>Running this script will produce 5 files in the current directory:</p>

<ul>
<li><code>_response.geojson</code>: a GeoJSON file that caches the response</li>
<li><code>Water_D_Diameter_100mm.dbf</code></li>
<li><code>Water_D_Diameter_100mm.prj</code></li>
<li><code>Water_D_Diameter_100mm.shp</code>: our Shapefile, which can be loaded in QGIS</li>
<li><code>Water_D_Diameter_100mm.shx</code></li>
</ul>

<h3>Testing approach</h3>

<p>Because we're querying an external resource with a specific set of parameters,
there's not really much testing that can be done, other than:</p>

<ol>
<li>Does the Map Server endpoint request successfully download the requested
features in GeoJSON format?</li>
<li>Does the GeoJSON file contain <strong>more than zero</strong> (specifically: 1006)
<code>Point</code> features where property <code>"D_DIAMETER" = "100mm"</code>?
<ul>
<li>Use command-line: <code>grep -i D_DIAMETER _response.geojson</code></li>
<li>and command-line: <code>grep -i D_DIAMETER _response.geojson | wc -l</code></li>
</ul></li>
<li>Does the GeoJSON file contain <strong>only</strong> <code>Point</code> features where
property <code>"D_DIAMETER" = "100mm"</code>?
<ul>
<li>Use command-line: <code>grep -i D_DIAMETER _response.geojson | grep -v '"100mm"'</code></li>
</ul></li>
<li>Does <code>ogrinfo</code> read (1006) <code>Point</code> features in the converted Shapefile?
<ul>
<li>Use command-line: <code>ogrinfo -al Water_D_Diameter_100mm.shp | grep -i 'Point (' | wc -l</code></li>
</ul></li>
<li>Does the converted Shapefile open and display in QGIS?</li>
</ol>

<h2>Linux package dependencies</h2>

<p>The following non-default packages were needed on my Linux Mint system:</p>

<ul>
<li><code>libgdal-doc</code></li>
<li><code>gdal-bin</code></li>
<li><code>markdown</code></li>
<li><code>python3-gdal</code></li>
<li><code>sqlite3</code></li>
<li><code>sqlite3-doc</code></li>
</ul>

<p>These package dependencies are also listed in file <code>apt-get-install.txt</code>.
It should be convenient to install these packages using the command-line:</p>

<p><code>
sudo apt-get install `cat apt-get-install.txt`
</code></p>

<h2>Python package dependencies</h2>

<p>The following non-default Python packages were needed on my system:</p>

<ul>
<li><code>requests</code></li>
</ul>

<p>This package dependency is also listed in file <code>requirements.txt</code>.
It should be convenient to install this package using the command-line:</p>

<p><code>
sudo python3 -m pip install -r requirements.txt
</code></p>

<p>(If you're running in a Python virtual environment, you won't need <code>sudo</code>
at the start of the command.)</p>
